tests/conf_files/SpeiActualizaServices.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c. -->
<xsd:schema xmlns:ns0="http://speid.test.com/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://speid.test.com/">
    <xsd:complexType name="altaCuentaTerceros">
        <xsd:sequence>
            <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreBeneficiario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cuenta" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rfc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="empresa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="instOperante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="altaCuentaTercerosResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:altaCuentaTercerosReturn" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="asociaNumeroCelular">
        <xsd:sequence>
            <xsd:element name="empresa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="numeroCelular" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cuentaCLABE" type="xsd:string" minOccurs="0"/>
            <xsd:element name="firma" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="asociaNumeroCelularResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="conecta">
        <xsd:sequence>
            <xsd:element name="instOperante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="conectaResponse"/>
    <xsd:complexType name="confirmaAbono">
        <xsd:sequence>
            <xsd:element name="fechaOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="institucionContraparte" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rfc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaAbonoDelay">
        <xsd:sequence>
            <xsd:element name="idEF" type="xsd:int" minOccurs="0"/>
            <xsd:element name="rfc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="delay" type="xsd:long" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaAbonoDelayResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaAbonoId">
        <xsd:sequence>
            <xsd:element name="idEF" type="xsd:int" minOccurs="0"/>
            <xsd:element name="rfc" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaAbonoIdResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaAbonoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaCargo">
        <xsd:sequence>
            <xsd:element name="idOrden" type="xsd:int" minOccurs="0"/>
            <xsd:element name="razonCancelacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nuevoEstado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="folio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaCargoRastreo">
        <xsd:sequence>
            <xsd:element name="institucionOperante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="fechaOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="razonCancelacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nuevoEstado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="folio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaCargoRastreoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="confirmaCargoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="desconecta">
        <xsd:sequence>
            <xsd:element name="instOperante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="desconectaResponse"/>
    <xsd:complexType name="devuelveOrden">
        <xsd:sequence>
            <xsd:element name="idOrden" type="xsd:int" minOccurs="0"/>
            <xsd:element name="causaDevolucion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="nuevoRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="medioEntrega" type="xsd:int" minOccurs="0"/>
            <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="devuelveOrdenExtemporanea">
        <xsd:sequence>
            <xsd:element name="fechaOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveInstitucion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="causaDevolucion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="medioEntrega" type="xsd:int" minOccurs="0"/>
            <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="montoInteres" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="devuelveOrdenExtemporaneaResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="devuelveOrdenClaveRastreo">
        <xsd:sequence>
            <xsd:element name="claveInstitucion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="causaDevolucion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="nuevoRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="medioEntrega" type="xsd:int" minOccurs="0"/>
            <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="devuelveOrdenClaveRastreoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="devuelveOrdenRazonRechazo">
        <xsd:sequence>
            <xsd:element name="idOrden" type="xsd:int" minOccurs="0"/>
            <xsd:element name="causaDevolucion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="nuevoRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="medioEntrega" type="xsd:int" minOccurs="0"/>
            <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="razonRechazo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="devuelveOrdenRazonRechazoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="devuelveOrdenResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="reenviaErroresH2H">
        <xsd:sequence>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="reenviaErroresH2HResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aRegistraCobro">
        <xsd:sequence>
            <xsd:element name="cadenaOrigial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="serieCertificado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="firma" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aRegistraCobroResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:respuestaCodi" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraDetalleErrorEnvio">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int" minOccurs="0"/>
            <xsd:element name="detalleError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="regDetalleErrEnvExtemp">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int" minOccurs="0"/>
            <xsd:element name="detalleError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fechOper" type="xsd:int" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="regDetalleErrEnvExtempResponse"/>
    <xsd:complexType name="registraDetalleErrorEnvioResponse"/>
    <xsd:complexType name="registraDetalleErrorRecepcion">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:int" minOccurs="0"/>
            <xsd:element name="detalleError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraDetalleErrorRecepcionResponse"/>
    <xsd:complexType name="aRegistraEstadoCobro">
        <xsd:sequence>
            <xsd:element name="cadenaOrigial" type="xsd:string" minOccurs="0"/>
            <xsd:element name="serieCertificado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="claveInst" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tsSolicitudOriginal" type="xsd:string" minOccurs="0"/>
            <xsd:element name="firma" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="aRegistraEstadoCobroResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:respuestaCodi" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraOrden">
        <xsd:sequence>
            <xsd:element name="ordenPago" type="ns0:ordenPagoWS" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraOrdenResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraOrdenes">
        <xsd:sequence>
            <xsd:element name="ordenesPago" type="ns0:ordenPagoWS" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraOrdenesResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraOrdenesTraspasos">
        <xsd:sequence>
            <xsd:element name="ordenesTraspasos" type="ns0:ordenesTraspasos" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraOrdenesTraspasosResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:responseOrdenTraspaso" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraTraspaso">
        <xsd:sequence>
            <xsd:element name="traspaso" type="ns0:traspasoWS" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="registraTraspasoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="retornaOrden">
        <xsd:sequence>
            <xsd:element name="fechaOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveInstitucionOrdenante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="montoRetorno" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="beneficiarioRetorno" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveRastreoRetorno" type="xsd:string" minOccurs="0"/>
            <xsd:element name="medioEntrega" type="xsd:int" minOccurs="0"/>
            <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="retornaOrdenResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tiempoEntregaAbono">
        <xsd:sequence>
            <xsd:element name="idOrden" type="xsd:int" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tiempoEntregaAbonoRastreo">
        <xsd:sequence>
            <xsd:element name="fechaOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="rastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="instContraparte" type="xsd:int" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tiempoEntregaAbonoRastreoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tiempoEntregaAbonoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tiempoEntregaCargo">
        <xsd:sequence>
            <xsd:element name="idOrden" type="xsd:int" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tiempoEntregaCargoRastreo">
        <xsd:sequence>
            <xsd:element name="fechaOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="rastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="instOperante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tiempoEntregaCargoRastreoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="tiempoEntregaCargoResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="traspasoEntreCuentas">
        <xsd:sequence>
            <xsd:element name="cuentaOrigen" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cuentaDestino" type="xsd:string" minOccurs="0"/>
            <xsd:element name="monto" type="xsd:string" minOccurs="0"/>
            <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="token" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="traspasoEntreCuentasResponse">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:speiServiceResponse" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="altaCuentaTercerosReturn">
        <xsd:sequence>
            <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="id" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="speiServiceResponse">
        <xsd:sequence>
            <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="id" type="xsd:int" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="respuestaCodi">
        <xsd:sequence>
            <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estadoPeticion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="folioCodi" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ordenPagoWS">
        <xsd:sequence>
            <xsd:element name="causaDevolucion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="claveCatUsuario1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="claveCatUsuario2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="clavePago" type="xsd:string" minOccurs="0"/>
            <xsd:element name="claveRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="claveRastreoDevolucion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="conceptoPago" type="xsd:string" minOccurs="0"/>
            <xsd:element name="conceptoPago2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cuentaBeneficiario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cuentaBeneficiario2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="cuentaOrdenante" type="xsd:string" minOccurs="0"/>
            <xsd:element name="digitoIdentificadorBeneficiario" type="xsd:int" minOccurs="0"/>
            <xsd:element name="digitoIdentificadorOrdenante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="emailBeneficiario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="empresa" type="xsd:string" minOccurs="0"/>
            <xsd:element name="error" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="facturas" type="ns0:facturas" minOccurs="0"/>
            <xsd:element name="fechaLimitePago" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fechaOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="firma" type="xsd:string" minOccurs="0"/>
            <xsd:element name="folioOrigen" type="xsd:string" minOccurs="0"/>
            <xsd:element name="folioPlataforma" type="xsd:string" minOccurs="0"/>
            <xsd:element name="idCliente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="idEF" type="xsd:int" minOccurs="0"/>
            <xsd:element name="institucionContraparte" type="xsd:int" minOccurs="0"/>
            <xsd:element name="institucionOperante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="iva" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="medioEntrega" type="xsd:int" minOccurs="0"/>
            <xsd:element name="monto" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="montoComision" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="montoInteres" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="montoOriginal" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="nombreBeneficiario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreBeneficiario2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="nombreOrdenante" type="xsd:string" minOccurs="0"/>
            <xsd:element name="numCelularBeneficiario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="numCelularOrdenante" type="xsd:string" minOccurs="0"/>
            <xsd:element name="pagoComision" type="xsd:int" minOccurs="0"/>
            <xsd:element name="prioridad" type="xsd:int" minOccurs="0"/>
            <xsd:element name="referenciaCobranza" type="xsd:string" minOccurs="0"/>
            <xsd:element name="referenciaNumerica" type="xsd:int" minOccurs="0"/>
            <xsd:element name="reintentos" type="xsd:int" minOccurs="0"/>
            <xsd:element name="rfcCurpBeneficiario" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rfcCurpBeneficiario2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="rfcCurpOrdenante" type="xsd:string" minOccurs="0"/>
            <xsd:element name="serieCertificado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="swift1" type="xsd:string" minOccurs="0"/>
            <xsd:element name="swift2" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tipoCuentaBeneficiario" type="xsd:int" minOccurs="0"/>
            <xsd:element name="tipoCuentaBeneficiario2" type="xsd:int" minOccurs="0"/>
            <xsd:element name="tipoCuentaOrdenante" type="xsd:int" minOccurs="0"/>
            <xsd:element name="tipoOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="tipoPago" type="xsd:int" minOccurs="0"/>
            <xsd:element name="topologia" type="xsd:string" minOccurs="0"/>
            <xsd:element name="tsAcuseBanxico" type="xsd:long" minOccurs="0"/>
            <xsd:element name="tsAcuseConfirmacion" type="xsd:long" minOccurs="0"/>
            <xsd:element name="tsCaptura" type="xsd:long" minOccurs="0"/>
            <xsd:element name="tsConfirmacion" type="xsd:long" minOccurs="0"/>
            <xsd:element name="tsDevolucion" type="xsd:long" minOccurs="0"/>
            <xsd:element name="tsDevolucionRecibida" type="xsd:long" minOccurs="0"/>
            <xsd:element name="tsEntrega" type="xsd:long" minOccurs="0"/>
            <xsd:element name="tsLiquidacion" type="xsd:long" minOccurs="0"/>
            <xsd:element name="uetr" type="xsd:string" minOccurs="0"/>
            <xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="facturas">
        <xsd:sequence>
            <xsd:element name="factura" type="ns0:facturaWS" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="facturaWS">
        <xsd:sequence>
            <xsd:element name="folio" type="xsd:string" minOccurs="0"/>
            <xsd:element name="iva" type="xsd:double" minOccurs="0"/>
            <xsd:element name="monto" type="xsd:decimal" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ordenesTraspasos">
        <xsd:sequence>
            <xsd:element name="ordenesPago" type="ns0:ordenPagoWS" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="traspasosWS" type="ns0:traspasoWS" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="traspasoWS">
        <xsd:sequence>
            <xsd:element name="claveRastreo" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estado" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fechaOperacion" type="xsd:int" minOccurs="0"/>
            <xsd:element name="folioOrigen" type="xsd:string" minOccurs="0"/>
            <xsd:element name="institucionCASFIM" type="xsd:string" minOccurs="0"/>
            <xsd:element name="institucionSpei" type="xsd:int" minOccurs="0"/>
            <xsd:element name="medioEntrega" type="xsd:int" minOccurs="0"/>
            <xsd:element name="monto" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="tipoTraspaso" type="xsd:int" minOccurs="0"/>
            <xsd:element name="tsLiquidacion" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="responseOrdenTraspaso">
        <xsd:sequence>
            <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="existeError" type="xsd:boolean" minOccurs="0"/>
            <xsd:element name="folioOrigen" type="xsd:string" minOccurs="0"/>
            <xsd:element name="responsesOrdenes" type="ns0:speiServiceFolioOrigenResponse" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <xsd:element name="responsesTrapasos" type="ns0:speiServiceFolioOrigenResponse" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="speiServiceFolioOrigenResponse">
        <xsd:complexContent>
            <xsd:extension base="ns0:speiServiceResponse">
                <xsd:sequence>
                    <xsd:element name="folioOrigen" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:element name="altaCuentaTerceros" type="ns0:altaCuentaTerceros"/>
    <xsd:element name="altaCuentaTercerosResponse" type="ns0:altaCuentaTercerosResponse"/>
    <xsd:element name="asociaNumeroCelular" type="ns0:asociaNumeroCelular"/>
    <xsd:element name="asociaNumeroCelularResponse" type="ns0:asociaNumeroCelularResponse"/>
    <xsd:element name="conecta" type="ns0:conecta"/>
    <xsd:element name="conectaResponse" type="ns0:conectaResponse"/>
    <xsd:element name="confirmaAbono" type="ns0:confirmaAbono"/>
    <xsd:element name="confirmaAbonoDelay" type="ns0:confirmaAbonoDelay"/>
    <xsd:element name="confirmaAbonoDelayResponse" type="ns0:confirmaAbonoDelayResponse"/>
    <xsd:element name="confirmaAbonoId" type="ns0:confirmaAbonoId"/>
    <xsd:element name="confirmaAbonoIdResponse" type="ns0:confirmaAbonoIdResponse"/>
    <xsd:element name="confirmaAbonoResponse" type="ns0:confirmaAbonoResponse"/>
    <xsd:element name="confirmaCargo" type="ns0:confirmaCargo"/>
    <xsd:element name="confirmaCargoRastreo" type="ns0:confirmaCargoRastreo"/>
    <xsd:element name="confirmaCargoRastreoResponse" type="ns0:confirmaCargoRastreoResponse"/>
    <xsd:element name="confirmaCargoResponse" type="ns0:confirmaCargoResponse"/>
    <xsd:element name="desconecta" type="ns0:desconecta"/>
    <xsd:element name="desconectaResponse" type="ns0:desconectaResponse"/>
    <xsd:element name="devuelveOrden" type="ns0:devuelveOrden"/>
    <xsd:element name="devuelveOrdenExtemporanea" type="ns0:devuelveOrdenExtemporanea"/>
    <xsd:element name="devuelveOrdenExtemporaneaResponse" type="ns0:devuelveOrdenExtemporaneaResponse"/>
    <xsd:element name="devuelveOrdenClaveRastreo" type="ns0:devuelveOrdenClaveRastreo"/>
    <xsd:element name="devuelveOrdenClaveRastreoResponse" type="ns0:devuelveOrdenClaveRastreoResponse"/>
    <xsd:element name="devuelveOrdenRazonRechazo" type="ns0:devuelveOrdenRazonRechazo"/>
    <xsd:element name="devuelveOrdenRazonRechazoResponse" type="ns0:devuelveOrdenRazonRechazoResponse"/>
    <xsd:element name="devuelveOrdenResponse" type="ns0:devuelveOrdenResponse"/>
    <xsd:element name="reenviaErroresH2H" type="ns0:reenviaErroresH2H"/>
    <xsd:element name="reenviaErroresH2HResponse" type="ns0:reenviaErroresH2HResponse"/>
    <xsd:element name="aRegistraCobro" type="ns0:aRegistraCobro"/>
    <xsd:element name="aRegistraCobroResponse" type="ns0:aRegistraCobroResponse"/>
    <xsd:element name="registraDetalleErrorEnvio" type="ns0:registraDetalleErrorEnvio"/>
    <xsd:element name="regDetalleErrEnvExtemp" type="ns0:regDetalleErrEnvExtemp"/>
    <xsd:element name="regDetalleErrEnvExtempResponse" type="ns0:regDetalleErrEnvExtempResponse"/>
    <xsd:element name="registraDetalleErrorEnvioResponse" type="ns0:registraDetalleErrorEnvioResponse"/>
    <xsd:element name="registraDetalleErrorRecepcion" type="ns0:registraDetalleErrorRecepcion"/>
    <xsd:element name="registraDetalleErrorRecepcionResponse" type="ns0:registraDetalleErrorRecepcionResponse"/>
    <xsd:element name="aRegistraEstadoCobro" type="ns0:aRegistraEstadoCobro"/>
    <xsd:element name="aRegistraEstadoCobroResponse" type="ns0:aRegistraEstadoCobroResponse"/>
    <xsd:element name="registraOrden" type="ns0:registraOrden"/>
    <xsd:element name="registraOrdenResponse" type="ns0:registraOrdenResponse"/>
    <xsd:element name="registraOrdenes" type="ns0:registraOrdenes"/>
    <xsd:element name="registraOrdenesResponse" type="ns0:registraOrdenesResponse"/>
    <xsd:element name="registraOrdenesTraspasos" type="ns0:registraOrdenesTraspasos"/>
    <xsd:element name="registraOrdenesTraspasosResponse" type="ns0:registraOrdenesTraspasosResponse"/>
    <xsd:element name="registraTraspaso" type="ns0:registraTraspaso"/>
    <xsd:element name="registraTraspasoResponse" type="ns0:registraTraspasoResponse"/>
    <xsd:element name="retornaOrden" type="ns0:retornaOrden"/>
    <xsd:element name="retornaOrdenResponse" type="ns0:retornaOrdenResponse"/>
    <xsd:element name="tiempoEntregaAbono" type="ns0:tiempoEntregaAbono"/>
    <xsd:element name="tiempoEntregaAbonoRastreo" type="ns0:tiempoEntregaAbonoRastreo"/>
    <xsd:element name="tiempoEntregaAbonoRastreoResponse" type="ns0:tiempoEntregaAbonoRastreoResponse"/>
    <xsd:element name="tiempoEntregaAbonoResponse" type="ns0:tiempoEntregaAbonoResponse"/>
    <xsd:element name="tiempoEntregaCargo" type="ns0:tiempoEntregaCargo"/>
    <xsd:element name="tiempoEntregaCargoRastreo" type="ns0:tiempoEntregaCargoRastreo"/>
    <xsd:element name="tiempoEntregaCargoRastreoResponse" type="ns0:tiempoEntregaCargoRastreoResponse"/>
    <xsd:element name="tiempoEntregaCargoResponse" type="ns0:tiempoEntregaCargoResponse"/>
    <xsd:element name="traspasoEntreCuentas" type="ns0:traspasoEntreCuentas"/>
    <xsd:element name="traspasoEntreCuentasResponse" type="ns0:traspasoEntreCuentasResponse"/>
</xsd:schema>