tests/conf_files/stp_wsdl.wsdl

<!--
 Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c.
-->
<!--
 Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.3.0-b170407.2038 svn-revision#2eaca54d17a59d265c6fe886b7fd0027836c766c.
-->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
             xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy"
             xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns="http://speid.test.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://speid.test.com/"
             name="SpeiActualizaServicesImpl">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://speid.test.com/"
                        schemaLocation="SpeiActualizaServices.xsd"/>
        </xsd:schema>
    </types>
    <message name="retornaOrden">
        <part name="parameters" element="tns:retornaOrden"/>
    </message>
    <message name="retornaOrdenResponse">
        <part name="parameters" element="tns:retornaOrdenResponse"/>
    </message>
    <message name="registraOrden">
        <part name="parameters" element="tns:registraOrden"/>
    </message>
    <message name="registraOrdenResponse">
        <part name="parameters" element="tns:registraOrdenResponse"/>
    </message>
    <message name="confirmaAbonoDelay">
        <part name="parameters" element="tns:confirmaAbonoDelay"/>
    </message>
    <message name="confirmaAbonoDelayResponse">
        <part name="parameters" element="tns:confirmaAbonoDelayResponse"/>
    </message>
    <message name="devuelveOrdenRazonRechazo">
        <part name="parameters" element="tns:devuelveOrdenRazonRechazo"/>
    </message>
    <message name="devuelveOrdenRazonRechazoResponse">
        <part name="parameters" element="tns:devuelveOrdenRazonRechazoResponse"/>
    </message>
    <message name="regDetalleErrEnvExtemp">
        <part name="parameters" element="tns:regDetalleErrEnvExtemp"/>
    </message>
    <message name="regDetalleErrEnvExtempResponse">
        <part name="parameters" element="tns:regDetalleErrEnvExtempResponse"/>
    </message>
    <message name="registraDetalleErrorEnvio">
        <part name="parameters" element="tns:registraDetalleErrorEnvio"/>
    </message>
    <message name="registraDetalleErrorEnvioResponse">
        <part name="parameters" element="tns:registraDetalleErrorEnvioResponse"/>
    </message>
    <message name="tiempoEntregaAbonoRastreo">
        <part name="parameters" element="tns:tiempoEntregaAbonoRastreo"/>
    </message>
    <message name="tiempoEntregaAbonoRastreoResponse">
        <part name="parameters" element="tns:tiempoEntregaAbonoRastreoResponse"/>
    </message>
    <message name="registraDetalleErrorRecepcion">
        <part name="parameters" element="tns:registraDetalleErrorRecepcion"/>
    </message>
    <message name="registraDetalleErrorRecepcionResponse">
        <part name="parameters" element="tns:registraDetalleErrorRecepcionResponse"/>
    </message>
    <message name="confirmaAbonoId">
        <part name="parameters" element="tns:confirmaAbonoId"/>
    </message>
    <message name="confirmaAbonoIdResponse">
        <part name="parameters" element="tns:confirmaAbonoIdResponse"/>
    </message>
    <message name="reenviaErroresH2H">
        <part name="parameters" element="tns:reenviaErroresH2H"/>
    </message>
    <message name="reenviaErroresH2HResponse">
        <part name="parameters" element="tns:reenviaErroresH2HResponse"/>
    </message>
    <message name="confirmaAbono">
        <part name="parameters" element="tns:confirmaAbono"/>
    </message>
    <message name="confirmaAbonoResponse">
        <part name="parameters" element="tns:confirmaAbonoResponse"/>
    </message>
    <message name="registraOrdenes">
        <part name="parameters" element="tns:registraOrdenes"/>
    </message>
    <message name="registraOrdenesResponse">
        <part name="parameters" element="tns:registraOrdenesResponse"/>
    </message>
    <message name="registraOrdenesTraspasos">
        <part name="parameters" element="tns:registraOrdenesTraspasos"/>
    </message>
    <message name="registraOrdenesTraspasosResponse">
        <part name="parameters" element="tns:registraOrdenesTraspasosResponse"/>
    </message>
    <message name="devuelveOrden">
        <part name="parameters" element="tns:devuelveOrden"/>
    </message>
    <message name="devuelveOrdenResponse">
        <part name="parameters" element="tns:devuelveOrdenResponse"/>
    </message>
    <message name="devuelveOrdenClaveRastreo">
        <part name="parameters" element="tns:devuelveOrdenClaveRastreo"/>
    </message>
    <message name="devuelveOrdenClaveRastreoResponse">
        <part name="parameters" element="tns:devuelveOrdenClaveRastreoResponse"/>
    </message>
    <message name="devuelveOrdenExtemporanea">
        <part name="parameters" element="tns:devuelveOrdenExtemporanea"/>
    </message>
    <message name="devuelveOrdenExtemporaneaResponse">
        <part name="parameters" element="tns:devuelveOrdenExtemporaneaResponse"/>
    </message>
    <message name="confirmaCargo">
        <part name="parameters" element="tns:confirmaCargo"/>
    </message>
    <message name="confirmaCargoResponse">
        <part name="parameters" element="tns:confirmaCargoResponse"/>
    </message>
    <message name="confirmaCargoRastreo">
        <part name="parameters" element="tns:confirmaCargoRastreo"/>
    </message>
    <message name="confirmaCargoRastreoResponse">
        <part name="parameters" element="tns:confirmaCargoRastreoResponse"/>
    </message>
    <message name="tiempoEntregaAbono">
        <part name="parameters" element="tns:tiempoEntregaAbono"/>
    </message>
    <message name="tiempoEntregaAbonoResponse">
        <part name="parameters" element="tns:tiempoEntregaAbonoResponse"/>
    </message>
    <message name="tiempoEntregaCargo">
        <part name="parameters" element="tns:tiempoEntregaCargo"/>
    </message>
    <message name="tiempoEntregaCargoResponse">
        <part name="parameters" element="tns:tiempoEntregaCargoResponse"/>
    </message>
    <message name="tiempoEntregaCargoRastreo">
        <part name="parameters" element="tns:tiempoEntregaCargoRastreo"/>
    </message>
    <message name="tiempoEntregaCargoRastreoResponse">
        <part name="parameters" element="tns:tiempoEntregaCargoRastreoResponse"/>
    </message>
    <message name="traspasoEntreCuentas">
        <part name="parameters" element="tns:traspasoEntreCuentas"/>
    </message>
    <message name="traspasoEntreCuentasResponse">
        <part name="parameters" element="tns:traspasoEntreCuentasResponse"/>
    </message>
    <message name="conecta">
        <part name="parameters" element="tns:conecta"/>
    </message>
    <message name="conectaResponse">
        <part name="parameters" element="tns:conectaResponse"/>
    </message>
    <message name="desconecta">
        <part name="parameters" element="tns:desconecta"/>
    </message>
    <message name="desconectaResponse">
        <part name="parameters" element="tns:desconectaResponse"/>
    </message>
    <message name="asociaNumeroCelular">
        <part name="parameters" element="tns:asociaNumeroCelular"/>
    </message>
    <message name="asociaNumeroCelularResponse">
        <part name="parameters" element="tns:asociaNumeroCelularResponse"/>
    </message>
    <message name="altaCuentaTerceros">
        <part name="parameters" element="tns:altaCuentaTerceros"/>
    </message>
    <message name="altaCuentaTercerosResponse">
        <part name="parameters" element="tns:altaCuentaTercerosResponse"/>
    </message>
    <message name="registraTraspaso">
        <part name="parameters" element="tns:registraTraspaso"/>
    </message>
    <message name="registraTraspasoResponse">
        <part name="parameters" element="tns:registraTraspasoResponse"/>
    </message>
    <message name="aRegistraCobro">
        <part name="parameters" element="tns:aRegistraCobro"/>
    </message>
    <message name="aRegistraCobroResponse">
        <part name="parameters" element="tns:aRegistraCobroResponse"/>
    </message>
    <message name="aRegistraEstadoCobro">
        <part name="parameters" element="tns:aRegistraEstadoCobro"/>
    </message>
    <message name="aRegistraEstadoCobroResponse">
        <part name="parameters" element="tns:aRegistraEstadoCobroResponse"/>
    </message>
    <portType name="SpeiActualizaServices">
        <operation name="retornaOrden">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/retornaOrdenRequest"
                   message="tns:retornaOrden"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/retornaOrdenResponse"
                    message="tns:retornaOrdenResponse"/>
        </operation>
        <operation name="registraOrden">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/registraOrdenRequest"
                   message="tns:registraOrden"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/registraOrdenResponse"
                    message="tns:registraOrdenResponse"/>
        </operation>
        <operation name="confirmaAbonoDelay">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaAbonoDelayRequest"
                   message="tns:confirmaAbonoDelay"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaAbonoDelayResponse"
                    message="tns:confirmaAbonoDelayResponse"/>
        </operation>
        <operation name="devuelveOrdenRazonRechazo">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/devuelveOrdenRazonRechazoRequest"
                   message="tns:devuelveOrdenRazonRechazo"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/devuelveOrdenRazonRechazoResponse"
                    message="tns:devuelveOrdenRazonRechazoResponse"/>
        </operation>
        <operation name="regDetalleErrEnvExtemp">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/regDetalleErrEnvExtempRequest"
                   message="tns:regDetalleErrEnvExtemp"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/regDetalleErrEnvExtempResponse"
                    message="tns:regDetalleErrEnvExtempResponse"/>
        </operation>
        <operation name="registraDetalleErrorEnvio">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/registraDetalleErrorEnvioRequest"
                   message="tns:registraDetalleErrorEnvio"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/registraDetalleErrorEnvioResponse"
                    message="tns:registraDetalleErrorEnvioResponse"/>
        </operation>
        <operation name="tiempoEntregaAbonoRastreo">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/tiempoEntregaAbonoRastreoRequest"
                   message="tns:tiempoEntregaAbonoRastreo"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/tiempoEntregaAbonoRastreoResponse"
                    message="tns:tiempoEntregaAbonoRastreoResponse"/>
        </operation>
        <operation name="registraDetalleErrorRecepcion">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/registraDetalleErrorRecepcionRequest"
                   message="tns:registraDetalleErrorRecepcion"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/registraDetalleErrorRecepcionResponse"
                    message="tns:registraDetalleErrorRecepcionResponse"/>
        </operation>
        <operation name="confirmaAbonoId">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaAbonoIdRequest"
                   message="tns:confirmaAbonoId"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaAbonoIdResponse"
                    message="tns:confirmaAbonoIdResponse"/>
        </operation>
        <operation name="reenviaErroresH2H">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/reenviaErroresH2HRequest"
                   message="tns:reenviaErroresH2H"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/reenviaErroresH2HResponse"
                    message="tns:reenviaErroresH2HResponse"/>
        </operation>
        <operation name="confirmaAbono">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaAbonoRequest"
                   message="tns:confirmaAbono"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaAbonoResponse"
                    message="tns:confirmaAbonoResponse"/>
        </operation>
        <operation name="registraOrdenes">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/registraOrdenesRequest"
                   message="tns:registraOrdenes"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/registraOrdenesResponse"
                    message="tns:registraOrdenesResponse"/>
        </operation>
        <operation name="registraOrdenesTraspasos">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/registraOrdenesTraspasosRequest"
                   message="tns:registraOrdenesTraspasos"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/registraOrdenesTraspasosResponse"
                    message="tns:registraOrdenesTraspasosResponse"/>
        </operation>
        <operation name="devuelveOrden">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/devuelveOrdenRequest"
                   message="tns:devuelveOrden"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/devuelveOrdenResponse"
                    message="tns:devuelveOrdenResponse"/>
        </operation>
        <operation name="devuelveOrdenClaveRastreo">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/devuelveOrdenClaveRastreoRequest"
                   message="tns:devuelveOrdenClaveRastreo"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/devuelveOrdenClaveRastreoResponse"
                    message="tns:devuelveOrdenClaveRastreoResponse"/>
        </operation>
        <operation name="devuelveOrdenExtemporanea">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/devuelveOrdenExtemporaneaRequest"
                   message="tns:devuelveOrdenExtemporanea"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/devuelveOrdenExtemporaneaResponse"
                    message="tns:devuelveOrdenExtemporaneaResponse"/>
        </operation>
        <operation name="confirmaCargo">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaCargoRequest"
                   message="tns:confirmaCargo"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaCargoResponse"
                    message="tns:confirmaCargoResponse"/>
        </operation>
        <operation name="confirmaCargoRastreo">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaCargoRastreoRequest"
                   message="tns:confirmaCargoRastreo"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/confirmaCargoRastreoResponse"
                    message="tns:confirmaCargoRastreoResponse"/>
        </operation>
        <operation name="tiempoEntregaAbono">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/tiempoEntregaAbonoRequest"
                   message="tns:tiempoEntregaAbono"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/tiempoEntregaAbonoResponse"
                    message="tns:tiempoEntregaAbonoResponse"/>
        </operation>
        <operation name="tiempoEntregaCargo">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/tiempoEntregaCargoRequest"
                   message="tns:tiempoEntregaCargo"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/tiempoEntregaCargoResponse"
                    message="tns:tiempoEntregaCargoResponse"/>
        </operation>
        <operation name="tiempoEntregaCargoRastreo">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/tiempoEntregaCargoRastreoRequest"
                   message="tns:tiempoEntregaCargoRastreo"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/tiempoEntregaCargoRastreoResponse"
                    message="tns:tiempoEntregaCargoRastreoResponse"/>
        </operation>
        <operation name="traspasoEntreCuentas">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/traspasoEntreCuentasRequest"
                   message="tns:traspasoEntreCuentas"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/traspasoEntreCuentasResponse"
                    message="tns:traspasoEntreCuentasResponse"/>
        </operation>
        <operation name="conecta">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/conectaRequest"
                   message="tns:conecta"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/conectaResponse"
                    message="tns:conectaResponse"/>
        </operation>
        <operation name="desconecta">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/desconectaRequest"
                   message="tns:desconecta"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/desconectaResponse"
                    message="tns:desconectaResponse"/>
        </operation>
        <operation name="asociaNumeroCelular">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/asociaNumeroCelularRequest"
                   message="tns:asociaNumeroCelular"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/asociaNumeroCelularResponse"
                    message="tns:asociaNumeroCelularResponse"/>
        </operation>
        <operation name="altaCuentaTerceros">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/altaCuentaTercerosRequest"
                   message="tns:altaCuentaTerceros"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/altaCuentaTercerosResponse"
                    message="tns:altaCuentaTercerosResponse"/>
        </operation>
        <operation name="registraTraspaso">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/registraTraspasoRequest"
                   message="tns:registraTraspaso"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/registraTraspasoResponse"
                    message="tns:registraTraspasoResponse"/>
        </operation>
        <operation name="aRegistraCobro">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/aRegistraCobroRequest"
                   message="tns:aRegistraCobro"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/aRegistraCobroResponse"
                    message="tns:aRegistraCobroResponse"/>
        </operation>
        <operation name="aRegistraEstadoCobro">
            <input wsam:Action="http://speid.test.com/SpeiActualizaServices/aRegistraEstadoCobroRequest"
                   message="tns:aRegistraEstadoCobro"/>
            <output wsam:Action="http://speid.test.com/SpeiActualizaServices/aRegistraEstadoCobroResponse"
                    message="tns:aRegistraEstadoCobroResponse"/>
        </operation>
    </portType>
    <binding name="SpeiActualizaServicesImplPortBinding" type="tns:SpeiActualizaServices">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <operation name="retornaOrden">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registraOrden">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="confirmaAbonoDelay">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="devuelveOrdenRazonRechazo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="regDetalleErrEnvExtemp">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registraDetalleErrorEnvio">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="tiempoEntregaAbonoRastreo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registraDetalleErrorRecepcion">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="confirmaAbonoId">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="reenviaErroresH2H">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="confirmaAbono">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registraOrdenes">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registraOrdenesTraspasos">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="devuelveOrden">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="devuelveOrdenClaveRastreo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="devuelveOrdenExtemporanea">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="confirmaCargo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="confirmaCargoRastreo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="tiempoEntregaAbono">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="tiempoEntregaCargo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="tiempoEntregaCargoRastreo">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="traspasoEntreCuentas">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="conecta">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="desconecta">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="asociaNumeroCelular">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="altaCuentaTerceros">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="registraTraspaso">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="aRegistraCobro">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="aRegistraEstadoCobro">
            <soap:operation soapAction=""/>
            <input>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="SpeiActualizaServicesImpl">
        <port name="SpeiActualizaServicesImplPort" binding="tns:SpeiActualizaServicesImplPortBinding">
            <soap:address location="https://demo.stpmex.com:7024/speidemo/webservices/SpeiActualizaServices"/>
        </port>
    </service>
</definitions>